body {
  background-color: teal;
}

.col-8 {
  background-color: lightgray;
  border: 1px black dotted;
}

.col-4 {
  background-color: lightcyan;
  border: 1px black dotted;
}

#customer-results-div {
  background-color: #d4e2d4;
}

#dynamically-updated-div {
  background-color: lightpink;
}
