body {
  background-color: teal;
}

#itemized-order {
  background-color: lightpink;
}

.col-8 {
  background-color: lightgray;
  border: 1px black dotted;
}

.col-4 {
  background-color: lightcyan;
  border: 1px black dotted;
}
